#Q1:
sum the numbers in the list.
[2,3,90,89,45,09]

In [ ]:
var = [2,3,90,89,45,9]
var1 = sum(var)
print(var1)

# Q2:
Add the following data in list above.
1. python
2. 5.9
3. follow
4. [math, 20]
5. [English,80]

In [2]:
var = ['python']
var.append(5.9)
var.append('follow')
var.append(['math',20])
var.append(['English',80])
print(var)

# Q 3:
Remove the last element from the following list.

[hyder,8,badin,67,50]

In [3]:

var4 = ['hyder',8,'badin',67,50]
var4.pop()
print(var4)

#Q 4: 
Remove the Egg string from the list below.

[flour,30,sugar,90,egg,2,salt,100,gold,10]

In [4]:

var5 = ['flour',30,'sugar',90,'egg',2,'salt',100,'gold',10]
var5.remove('egg')
print(var5)

# Q5:
Merge the lists from the following.

list1 = [8,9,0,90,2,100]

list2 = [1,2,3,4,5]

In [5]:

var6 = [1,2,3,4,5]
var7 = [8,9,0,90,2,100]
print(var6+var7)

# Q6:
Make reverse list of following lists.

1. [shaheen,badin,life,19,45]
2. [get,fight,right,light,bright]
3. [make,cake,sake, lake, bake]
4. [30,80,90,08,9.5]

In [6]:

var6 = ['shaheen','badin','life',19,45]
var7 = var6[::-1]
print(var7)

var8 = ['get','fight','right','light','bright']
var9 = var8[::-1]
print(var9)

var10 = ['make','cake','sake', 'lake','bake']
var11 = var10[::-1]
print(var11)

var12 = [30,80,90,8,9.5]
var13 = var12[::-1]
print(var13)

# Q7:
Create a nested list. list one will be main list list 2 will be nested list.

list1 = [kite,flight,55,99,66]
list2 = [great,56,pos,light,20]

In [ ]:
list1 = ['kite','flight',55,99,66]
list2 = ['great',56,'pos','light',20]
list1.append(list2)
print(list1)

# Q8:
Extrate the "pos" from nested list.

In [7]:
list2 = ['kite','flight',55,99,66,['great',56,'pos','light',20]]
vari =list2[-1][2]
print(vari)

#Q9:
Sort the following lists in ascending order:

1. [89,67,76,45,32,47,34,12,21]
2. [r,f,t,g,y,w,c,v,k,q]

In [8]:
asd1 = [89,67,76,45,32,47,34,12,21]
asd1.sort()
print(asd1)

asd2 = ['r','f','t','g','y','w','c','v','k','q']
asd2.sort()
print(asd2)

# Q10:
Sort the Following lists in descending order.

1. [10,5,45,33,9,190,54,34]
2. [acdf,klmn,iops,wklm,npoi]

In [ ]:
asd2 = [10,5,45,33,9,190,54,34]
asd2.sort(reverse=True)
print(asd2)

asd3 = ['acdf','klmn','iops','wklm','npoi']
asd3.sort(reverse=True)
print(asd3)